.sidebar {
    width: 18%;
    min-height: 100vh;
    border: 1.5px solid #a9a9aa;
    border-top: 0;
    font-size: max(1vw, 10px);

}
.sidebar-options{
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sidebar-option {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #a9a9aa;
    border-right: 0;
    padding: 8px 10px;
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;
}
.sidebar-option.active {
    background-color: #fff0ed;
    border-color: tomato;
}
@media (max-width: 768px) {
    .sidebar {
        width: 60px;
        font-size: 0;
    }
    .sidebar-options{
        padding-left: 0;
        gap: 10px;
    }
    .sidebar-option {
        justify-content: center;
        padding: 8px 5px;
    }
}.navbar .nav-links {
    display: flex;
    gap: 20px;
}
.sidebar-option span {
    font-size: max(1vw, 10px);
}           
